extends layout

block content
    nav(class="navbar navbar-inverse navbar-fixed-top")
        div(class="container")
            div(class="navbar-header")
                button(type="button",class="navbar-toggle collapsed",data-toggle="collapse",data-target="#navbar",aria-expanded="false",aria-controls="navbar")
                    span(class="sr-only")
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")
                a(class="navbar-brand",href="#") #{title}
            div#navbar(class="navbar-collapse collapse")
                ul(class="nav navbar-nav")
                    li(class="active")
                        a(href="/") Home
                    li
                        a(href="/about") About
                    li
                        a(href="/contact") Contact

    div#login-modal(class="modal fade",tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true",style="display: none;")
        div(class="modal-dialog")
            div(class="loginmodal-container")
                h1 Login to Your Account
                form(action="/users",method="POST")
                    input(type="text",name="username",placeholder="Username")
                    input(type="password",name="password",placeholder="Password")
                    input(type="submit",class="login loginmodal-submit",value="Login")
                div(class="login-help")
                    a(href="#") Register
                    &nbsp;-&nbsp;  
                    a(href="#") Forgot Password
    div(class="jumbotron")
        div(class="container")
            h1 Smart Fluides 
            p The new Multifluid data rendering application from Suez Smart Building
            "Design for customer, the Smart Fluides application can display the Multifluid data's faster, secure and on all Devices."
            br
            br
            p 
                a(class="btn btn-lg btn-success",href="#",role="button",data-target="#login-modal",data-toggle="modal") Log in to your account
    div(class="container")
     
      div(class="row")
        div(class="col-lg-4")
          img(class="img-circle",src="/images/fast.png",alt="Generic placeholder image",width="140",height="140")
          h2 Fast
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a(class="btn btn-default",href="#",role="button") View details

        div(class="col-lg-4")
          img(class="img-circle",src="/images/secure.png",alt="Generic placeholder image",width="140",height="140")
          h2 Secure
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a(class="btn btn-default",href="#",role="button") View details

        div(class="col-lg-4")
          img(class="img-circle",src="/images/multidevices.png",alt="Generic placeholder image",width="140",height="140")
          h2 Multi devices
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a(class="btn btn-default",href="#",role="button") View details