<% include header.html %>
</head>
<body ng-app="app" >
 	<% include menu_rtl.html %>
<div id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;" class="modal fade">
	<div class="modal-dialog">
		<div class="loginmodal-container">
			<h1>Login to Your Account</h1>
			<form action="/login" method="POST">
				<input type="text" name="username" placeholder="Username">
				<input type="password" name="password" placeholder="Password">
				<input type="submit" value="Login" class="login loginmodal-submit">
			</form>
			<div class="login-help">
				<a href="#">Register &nbsp;-&nbsp;  </a>
				<a href="#">Forgot Password</a>
			</div>
		</div>
	</div>
</div>
<div class="jumbotron">
	<div class="container">
		<h1 class="pull-right" > <%=i18n.__("title")%></h1>
		<p class="pull-right" ><%=i18n.__("description")%></p>
		<br>
		<br>
		<p class="pull-right" > <a href="#" role="button" data-target="#login-modal" data-toggle="modal" class="btn btn-lg btn-success"><%=i18n.__("login_button")%></a>
		</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<img src="/images/fast.png" alt="Generic placeholder image" width="140" height="140" class="img-circle">
			<h2> <%=i18n.__("fast")%></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
			<tempor>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</tempor>
			<quis>nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</quis>
			<consequat>
			</consequat>
			<p>
				<a href="#" role="button" class="btn btn-default">View details</a>
			</p>
		</div>
		<div class="col-lg-4">
			<img src="/images/secure.png" alt="Generic placeholder image" width="140" height="140" class="img-circle">
			<h2><%=i18n.__("secure")%></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
			<tempor>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</tempor>
			<quis>nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</quis>
			<consequat>
			</consequat>
			<p>
				<a href="#" role="button" class="btn btn-default">View details</a>
			</p>
		</div>
		<div class="col-lg-4">
			<img src="/images/multidevices.png" alt="Generic placeholder image" width="140" height="140" class="img-circle">
			<h2><%= i18n.__("multidevice")%></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
			<tempor>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</tempor>
			<quis>nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</quis>
			<consequat>
			</consequat>
			<p>
				<a href="#" role="button" class="btn btn-default">View details</a>
			</p>
		</div>
	</div>
</div>
<% include footer.html %>