<nav class="navbar navbar-inverse navbar-fixed-top" >
	<div class="container">
		<div class="navbar-header">
			<button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed">
				<span class="sr-only"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/" class="navbar-brand"><%=i18n.__("title")%></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse"  ng-app="i18n" ng-controller="LanguageController" ng-init="fetchAll()">
			<ul class="nav navbar-nav">
				<li>
					<a href="/about"> <%=i18n.__("about")%></a>
				</li>
				<li>
					<a href="/contact"> <%=i18n.__("contact")%></a>
				</li>
				<li>
					<a href="/users"> <%=i18n.__("users")%></a>
				</li>
				<li class="dropdown">
					<a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" class="dropdown-toggle">
						<i class="flag-icon  <%='flag-icon-'+i18n.getLocale().substring(3,6).toLowerCase()  %> "></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= i18n.__(i18n.getLocale())%></a>
					<ul aria-labelledby="dropdownMenu4" class="dropdown-menu" >
						<a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" class="dropdown-toggle"></a>
						<li ng-repeat="lang in languages">
							<a href="/nls/{{lang.code}}">
								<i class="flag-icon {{lang.icon}}"> <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ lang.name }}</span></i>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
