<% include header.html %>
	<script src="/angular-utils-pagination/dirPagination.js"></script>
	<script src="/javascripts/user.js"></script>	
</head>
<body>
 	<% include menu_ltr.html %>
	<div id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;" class="modal fade">
		<div class="modal-dialog">
			<div class="loginmodal-container">
				<h1>Login to Your Account</h1>
				<form action="/login" method="POST">
					<input type="text" name="username" placeholder="Username">
					<input type="password" name="password" placeholder="Password">
					<input type="submit" value="Login" class="login loginmodal-submit">
				</form>
				<div class="login-help">
					<a href="#">Register &nbsp;-&nbsp;  </a>
					<a href="#">Forgot Password</a>
				</div>
			</div>
		</div>
	</div>
	<div class="jumbotron">
		<div class="container">
			<h1><%=i18n.__("title")%></h1>
			<p><%=i18n.__("description")%></p>
		</div>
	</div>
	<div class="container">
		<div id="user" ng-app="user" ng-controller="UserController" ng-init="initUser()">
			<form>	
				<div class="container" ng-init="getImage()">
			      <h2>Photo</h2>          
				  <img ng-src="{{'data:image/png;base64,'+imageForm}}" class="img-rounded" width="198" height="255" >
			    </div>
			    <div class="form-group">
			        <label for="firstname">Nom</label>
			        <input type="text" class="form-control" id="name" placeholder="Nom" ng-model="inputForm.name">
			    </div>
			    <div class="form-group">
			        <label for="lastname">Code</label>
			        <input type="text" class="form-control" id="code" placeholder="Code" ng-model="inputForm.code">
			    </div>
			    <div class="form-group">
			        <label for="email">Email</label>
			        <input type="text" class="form-control" id="email" placeholder="Email" ng-model="inputForm.email">
			    </div>
				<div class="form-group">
			        <label for="phone">Telephone</label>
			        <input type="text" class="form-control" id="phone" placeholder="Telephone" ng-model="inputForm.phone">
			    </div>
				<div class="form-group">
			        <label for="mobile">Mobile</label>
			        <input type="text" class="form-control" id="mobile" placeholder="Mobile" ng-model="inputForm.mobile">
			    </div>
				 <div class="form-group">
			        <label for="address">Adresse</label>
			        <input type="text" class="form-control" id="address" placeholder="Adresse" ng-model="inputForm.address">
			    </div>
				<div class="form-group">
			        <label for="zipcode">Code Postal</label>
			        <input type="text" class="form-control" id="zipcode" placeholder="Code postal" ng-model="inputForm.zipcode">
			    </div>
				<div class="form-group">
			        <label for="town">Ville</label>
			        <input type="text" class="form-control" id="town" placeholder="Ville" ng-model="inputForm.town">
			    </div>
				<div class="form-group">
			        <label for="email">Pays</label>
			        <input type="text" class="form-control" id="country" placeholder="Pays" ng-model="inputForm.country">
			    </div>
			    <button type="button" class="btn btn-danger" ui-sref="list">Annuler</button>
			    <button type="button" class="btn btn-success" ng-click="save(inputForm)">Sauvegarder</button>
			</form>
		</div>
	</div>
<% include footer.html %>